* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --primaryColor: rgb(0,100,150);
    --secondaryColor: rgb(240,240,240);
    --contrastPrimaryColor: #fff;
}

/**
 * ===================================================================== +
 * Stylesheet to login
 * ===================================================================== +
 */
#main-view {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(240,240,240);

    display: flex;
    align-items: center;
    justify-content: center;
}

#main-view-container {
    width: 280px;
    height: auto;

    background-color: white;
    padding: 40px 40px 30px 40px;

    -webkit-box-shadow: 0px 3px 3px 0px rgba(155,155,155,1);
       -moz-box-shadow: 0px 3px 3px 0px rgba(155,155,155,1);
            box-shadow: 0px 3px 3px 0px rgba(155,155,155,1);
    
}

#main-view-container form h2 {
    text-align: center;
    color: var( --primaryColor );
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

    margin-bottom: 10px;
}

#main-view-container form div {
    text-align: center;
    margin-top: 20px;
}

#main-view-container form div a {
    color: rgb(125,125,125);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/**
 * ===================================================================== +
 * Stylesheet to menu lateral
 * ===================================================================== +
 */
 #menu-lateral {
    position: fixed;
    float: left;

    width: 200px;
    height: 100%;

    background-color: var( --secondaryColor );
    border-right: 1px solid #e9e9e9;
    box-shadow: 0 0 15px rgba(0,0,0,.15);

    z-index: 1;
 }

#menu-lateral ul,
#menu-lateral ul li {
    float: left;
    width: 100%;
    height: 40px;

    border-bottom: 1px solid var( --primaryColor );
    text-align: center;
}

#menu-lateral ul li a {
    float: left;
    color: #343a40;
    width: 100%;
    height: 100%;
}

#menu-lateral ul li a .container-icon {
    float: left;
    height: 40px;
    width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-lateral ul li a h3 {
    float: left;
    width: calc( 100% - 40px );
    line-height: 40px;

    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var( --primaryColor );
}

#menu-lateral ul li:hover a .container-icon { color: var( --primaryColor ); }

#conteudo-view {
    right: 0px;
    position: fixed;
    width: calc( 100% - 200px);
    height: 100%;
    background-color: var( --secondaryColor );
    padding: 20px;
    z-index: -2;
}


/**
 * ===================================================================== +
 * Stylesheet Page Title
 * ===================================================================== +
 */
.title-container {
    padding: 10px 20px;
}

.title-container h3 { font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 18px; }

.title-container hr {
    margin-top: 5px;
    width: 100%;
    height: 1px;
    background: rgb(180,180,180);
}


/**
 * ===================================================================== +
 * Stylesheet to Default Form
 * ===================================================================== +
 */
form input,
form select {
    float: left;
    width: 100%;
    height: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    margin: 5px 0px 5px 0px;
    padding-left: 10px;

    border: 1px solid rgb(180,180,180);
    border-radius: 5px;
}

form input[type=submit] {
    background-color: var( --primaryColor );
    color: var( --contrastPrimaryColor );

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form input[type=submit]:hover {
    background-color: var( --contrastPrimaryColor );
    color: var( --primaryColor );

    border: 1px solid var( --primaryColor );
    transition: all 0.3s ease-in-out;
}

form label {
    float: left;
    width: 49%;

    height: 45px;
    padding: 7px 15px;

    border-radius: 5px;
    margin-bottom: 20px;
}

form label span {
    color: gray;

    padding-bottom: 5px;
    font-size: 15px;
}

/**
 * ===================================================================== +
 * Stylesheet to Table
 * ===================================================================== +
 */

table {
    float: left;
    width: 100%;

    background: rgb(180,180,180);
    border: 1px solid var( --primaryColor );

    padding: 10px;
    font: 400 .9em 'Arial';
    color: #343a40;
    background: var( --secondaryColor );
}

table thead { text-transform: uppercase; }
table thead tr td { height: 60px; }

table tbody {}
table tbody tr td { height: 20px; }


.btn-remove { background-color: #dc3545 !important; }
.btn-remove:hover {
    background-color: var( --secondaryColor ) !important;
    border-color: #dc3545 !important;
    color: #dc3545 !important;
}